main{
    display: flex;
}
.section-1{
    margin: 0px;
    width: 25%;
    height: 100vh;
    border-right: 1px solid gray;
}
.list-letf li{
    border-bottom: 1px solid gray;
    padding: 10px;
    font-size: 14px;
    padding-left: 0px;
    cursor: pointer;
}
.list-letf li i {
    position: absolute;
    left: 12px;
    font-size: 14px;
}
.p-normal{
    font-size: 15px;
}
.section-2{
    display: none;
    padding: 0px;
    width: 75%;
    position: relative;
    top: 0px;
}
.section-2-header, .section-3-header{
    display: flex;
    justify-content: space-between;
    height: 30px;
    /* width: 100%; */
    background: #09A51C;
    padding: 10px;
}
.section-2-header p,.section-3-header p {
    margin: 5px;
    font-size: 14px;
}
.section-2-header i, .section-3-header i {
    margin: 0px;
    padding-right: 25px;
    padding-top: 5px;
}
.section-2-display-none{
    display: none;
}
.section-2-display-true{
    display: block;
}
.section-2-content, .section-3-content{
    padding: 20px;
}
.list-articles{
    padding: 0px;
}
.create-article{ 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 200;
    padding: 20px;
}
.create-article-header{
    display: flex;
    justify-content: space-around;
}
.newArticle{
    border: black solid 1px;
}
.item-article{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 15px 0px;
}
.img-article{
    height: 40px;
    border-radius: 10%;
}

ul {
    list-style: none;
}






.section-3{
    width: 75%;
    display: none;
    background-color: #fff;
}
.section-3-display-true{
    display: block;
}
.section-3 ul li{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
}
.category-name{
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}
.category-length{
    color: gray;
    margin: 0px;
}
.section-3 .fa-circle-plus, .section-2 .fa-circle-plus{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 40px;
    color: green;
    margin: 20px;
}







@media (max-width: 620px) {
    main{
        display: block;
    }
    .section-1{
        width: 100%;
    }
    .section-2, .section-3{
        margin-top: 0px;
        position: absolute;
        top: 0px;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        background: #fff;
    }
  }