.create-article{
    padding: 0px;
}
.create-article-header{
    display: flex;
    justify-content: space-between;
    background: #09A51C;
    height: 48px;
}
.create-article-header i {
    padding: 10px;
}
.create-article-header p {
    font-size: 20px;
    margin: 12px;
}
#save-category{
    border: none;
    background-color: transparent;
    margin-right: 10px;
    font-size: 15px;
}
.newArticle{
    padding: 15px;
    width: 500px;
    margin: 10px auto;
}
#nombre{
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 10px 0px;
}
.newArticle button {
    width: 45%;
    margin: auto;
}
.newArticle-div{
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}











.item-article{
    display: flex;
    justify-content: space-around;
}
.img-article{
    height: 20px;
    border-radius: 50%;
}
















@media (max-width: 620px) {
    .newArticle{
        width: 80%;
    }
  }