body{
    position: relative;
    background-color: #eee;
    /* border: red 5px solid; */
    height: 100vh;
    /* overflow: hidden; */
}
main{
    height: 100%;
    /* border: green 5px solid; */
}
.main{
    height: auto;
}

/* =================header============================ */
header{
    width: 100%;
    height: 50px;
    background-color: #09A51C;
}
nav{
    display: flex;
}
.nav-menu-ul{
    position: absolute;
    list-style-type: none;
    background-color: #fff;
    border: solid gray 2px;
    width: 300px;
    height: 100vh;
    z-index: 1000;
    padding: 0px;
    display: none;
    margin-top: 0px;
}
.nav-menu-ul li {
    padding: 10px 20px;
}
.nav-menu-ul i {
    font-size: 15px;
    margin-right:10px;
}
.header-nav-div-header{
    width: 63%;
    display: flex;
    justify-content: space-between;
}
.header-nav-div-header-1{
    display: flex;
}
.header-nav-div-header-2 i{
    font-size: 19px;
    padding-top: 17px;
}
.fa-bars{
    padding: 12px;
}
.header-nav-p{
    font-size: 15px;
}
.fa-bell, .fa-magnifying-glass{
    padding-top: 12px;
    position: relative;
    right: 25px;
}
.hidde-display{
    display: block;
}
.nav-menu-ul .nav-menu-ul-info{
    background-color: #09A51C;
    padding: 20px;
    padding-bottom: 10px;
}
.nav-menu-ul-info p {
    margin: 7px 0px;
    color: #fff;
}
.nav-menu-ul-info-p-1{
    font-size: 15px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #000;
}





/* =================header============================ */
main{
    display: flex;
}
.parrafo{
    text-align: center;
    font-size: 2rem;
}
.parrafo span{
    font-weight: bold;
    text-decoration-line: underline;
}
.section-1{
    width: 61%;
    display: block;
    margin: 0px;
    flex-wrap: wrap;


}
.categories{
    display: flex;
    flex-wrap: wrap;
}
.categories h1{
    margin: 5px;
}
article{
    width: 100px;
    height: 100px;
    padding: 3px;
}
h1, h2, h3{
    width: 100%;
    text-align: center;
}
.img-product{
    width: 100%;
    height: 100%;
    size: cover;
}
.div-p-product{
    position: relative;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    bottom: 45px;
    z-index: 1;
}
.p-product{
    text-align: center;
    color: #fff;
    padding: 3px;
    z-index: 10;
    opacity: 1;
}




.section-2{
    position: fixed;
    right: 0px;
    bottom: -40px;
    width: 35%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    z-index: 100;
}

.p-total{
    margin-bottom: 50px;
}

button{
    padding: 10px 20px;
    width: 100px;
}
.div-botton{
    top: 85vh;
    width: 220px;
    margin: 10px;

    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.div-botton button {
    background: #09A51C;
    border: none;
    border-radius: 0px;
    color: #fff;
    margin: 0px;
}

i{
    font-size: 24px;
}






.article-info{
    position: absolute;
    display: block;
    background-color: #fff;
    margin: auto;
    width: 80%;
    height: 100vh;
    z-index: 200;
    border: 1px solid #000;
    padding: 0px;
    display: none;
    justify-content: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#enviar-pedido{
    color: green;
    background: transparent;
    font-size: 15px;
    border: none;
}
.article-info p {
    margin: 10px;
    color: green;
}


.option-button{
    width: 45%;
    margin: 10px;
    justify-items: center;
}
.article-info_displaytrue{
    display: block;
}
.article-info-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-bottom: 1px solid gray;
}
.article-info-header p {
    font-size: 15px;
}
.salir-pedido{
    padding: 10px;
}
.article-info-header-div{
    display: flex;
}
.option-1, .option{
    display: flex;
    flex-wrap: wrap;
}
.variante, .adicional{
    margin: 10px;
    width: 40%;
    height: 50px;
}





.option-button{
    display: flex;
    justify-content: space-between;
    background: transparent;
    border: gray 1px solid;
    border-radius: 1px;
    font-size: 15px;
    padding: 0px 10px;
}
#cantidad-pedido{
    margin: 10px;
    border: none;
    border-bottom: 1px solid gray;
    width: calc(100% - 50px);
    padding: 10px;
    margin: 10px;
}
#comentario{
    margin: 10px;
    height: 20px;
    border: none;
    border-bottom: 1px solid gray;
    width: calc(100% - 30px);
    padding: 10px 0px;
}
.create-article-button{
    background-color: gray;
}
.list-pedido{
    display: flex;
    justify-content: space-between;
}







.total{
    display: flex;
    justify-content: space-between;
}











.list-clientes, .nuevo-cliente{
    display: none;
    position: absolute;
    z-index: 200;
    background: #fff;
    width: 80%;
    height: 700px;
    margin: auto;
    border: solid 3px gray;
    overflow: auto;

    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nuevo-cliente{

}
.list-clientes-display-true{
    display: block;
}
.fa-x{
    padding: 12px;
    font-size: 17px;
}
.list-clientes-div{
    display: flex;
    background: #fff;
    border-bottom:gray 1px solid ;
}
.list-clientes-div-p{
    padding: 12px;
    margin: 0px;
    padding: 15px;
}
.list-clientes-div-2{
    border-bottom: 1px solid gray;
    display: flex;
    padding: 5px;
}
.list-clientes-div-2 i{
    right: 0;
} 
.fa-magnifying-glass{
    font-size: 21px;
    padding: 5px;
}
#buscar-cliente{
    width: 100%;
    border: none;
}
.list-clientes-div-3{
    border-bottom: 1px solid gray;
}
#agregar-nuevo-cliente{
    width: 100%;
    border: none;
    color: green;
    text-align: center;
    background-color: transparent;
    margin: 10px;
}
.list-all-clientes-content{
}
.list-all-clientes{
    list-style: none;
}
.list-all-clientes li{
    border-top: 1px solid gray;
    display: flex;
    pointer-events: fill;
}
.cliente-nombre{
    position: relative;
    right: 25px;
    margin-bottom: 0px;
}
.fa-circle-user{
    padding: 0px;
    position: relative;
    right: 34px;
    top: 17px;
}
.cliente-numero{
    color: gray;
    font-size: 9px;
}


.nuevo-cliente-options{
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid gray;
}
.nuevo-cliente-options p {
    font-size: 20px;
}
.nuevo-cliente-info{
    margin: auto;
    padding: 10px;
}
.nuevo-cliente-info div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 10px;
}
.nuevo-cliente-info input{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 15px;
}
.nuevo-cliente-info i {
    font-size: 18px;
}


.cliente-info{
    position: absolute;
    display: none;
    background-color: #fff;
    border: 3px solid green;
    z-index: 500;
}
.cliente-info-display-true{
    display: block;
}

.div-factura{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.div-factura h4 {
    margin: 0px;
    font-size: 15px;
}
.fa-user-plus{
    font-size: 15px;
}
.cliente{
    display: none;
}
.ul-pedido{
    padding: 0px;
}
.articulo-nombre{
    margin: 0px;
    height: 5px;
}
.articulo-precio{
    margin: 0px;
}
.articulo-ingredientes{
    color: gray;
    margin: 0px;
}
.articulo, .total,.pedido {
    font-size: 15px;
}








.cobrar-paso-1 {
    position: absolute;
    display: none;
    background: #fff;
    width: 100%;
    height: 100vh;
    z-index: 200;
}
.cobrar-paso-1-display-true{
    display: flex;
}

.cobrar-paso-1-content-1{
    padding: 15px;
    width: 35%;
    border: 2px solid gray;
}
.section-2-cliente-info{
    display: none;
}
.cliente-display-true{
    display: block;
}
.fa-left-long{
    padding: 12px;
}
.cobrar-paso-1-content-2{
    width: 65%;
    display: block;
}
.total-a-pagar{
    font-size: 18px;
}
.cobrar-paso-1-content-2-body-2{
    padding: 10px;
    color: green;
    padding-bottom: 0px;

}
.cobrar-paso-1-content-2-body-3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px 50px;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    grid-gap: 15px 0px;
    
}
.cobrar-paso-1-content-2-body-3 button {
    width: 120px;
}
.efectivo-recibido{
    display: flex;
    grid-column: 1 / 4;
}
.efectivo-recibido .fa-money-bills{
    margin-top: 15px;
}
#btn-efectivo-recibido{
    width: 100%;
    border: none;
    border-bottom: 1px gray solid;
    padding: 15px;
}
#btnTranferencia{
    grid-column: 1 / 5;
    width: 100%;
}

.cobrar-paso-1-content-3-header{
    background: #09A51C;
    height: 48px;
}
.cobrar-paso-1-content-3{
    display: none;
    width: 65%;
}
.cobrar-paso-1-content-3-div1{
    display: flex;
    width: 200px;
    margin: auto;
}
.div-normal{
    margin: 20px;
}
.total-pagado, .cambio {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
.normal{
    text-align: center;
    color: gray;
}
.hr-vertical{
    width: .5px;
    height: 70px;
    background: gray;
    padding: 0px;
    margin-top: 15px;
}
.cobrar-paso-1-content-3-div2{
    padding: 15px;
}

.cobrar-paso-1-content-3-div3{
    display: flex;
    border-bottom: 1px solid gray;
}
.cobrar-paso-1-content-3-div3 i{
    margin-top: 15px;
}
.cobrar-paso-1-content-3-div3 input {
    padding-left: 10px;
}
#email{
    width: 100%;
    border: none;
}
#btn-enviar-recibo{
    border: none;
    background-color: transparent;
}
#btn-imprimir{
    width: 100%;
    margin: 20px 0px;
}
#btn-nueva-cuente{
    width: 100%;
    margin: 20px 0px;
    background: green;
    color: #eee;
}
.cobrar-paso-1-content-2-display-none{
    display: none;
}
.cobrar-paso-1-content-3-display-true{
    display: block;
}
.cobrar-paso-1-content-2-header{
    display: flex;
    justify-content: space-between;
    background-color: #09A51C;
}
#dividir{
    background: transparent;
    border: none;
}

.cobrar-paso-1-content-2-body{
    text-align: center;
}





.main-display-none{
    display: none;
}
.main-display-true{
    display: block;
}

@media (max-width: 620px) {
    main{
        display: block;
    }
    article{
        width: 75px;
        height: 75px;
    }
    .p-product{
        font-size: 9px;
    }
    .div-p-product{
        position: relative;
        width: 100%;
        height: 23px;
        background-color: rgba(0, 0, 0, .5);
        bottom: 35px;
        z-index: 1;
    }
    .section-1{
        width: 100%;
        padding-bottom: 250px;

        height: calc(100% - 150px);
        overflow: hidden;
        overflow-y: visible;
    }
    .section-2{
        position: fixed;
        bottom: 0;
        width: calc(100% - 40px);
        margin-top: 50px;
        height: auto;
        background-color: #fff;
        padding: 20px;
        z-index: 100;
    }
    .section-2 .div-factura h4, .section-2 .div-factura #agregar-liente{
        font-size: 11px;
    }
    .section-2 select,.ul-pedido p, .section-2 .total  {
        font-size: 10px;
    }
    .header-nav-div-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .predeterminado{
        display: none;
    }
    .cobrar-paso-1-content-1{
        display: none;
    }
    .cobrar-paso-1-content-2{
        width: 100%;
    }
    .cobrar-paso-1-content-3{
        width: 100%;
    }

    .div-botton{
        top: 600px;
        width: 220px;
        margin: 10px;
    
        position: relative;
    }
    .div-botton{
        top: 0px;

    
        position: relative;
    
        margin: auto;
    }


    .article-info{
        width: 100%;
    }

    .parrafo{
        font-size: 1rem;
    }
    
  }

